<% if @shop.nil? %>
お店のデータが存在しません
<% elsif @memo.nil? %>
このお店は行けません
<% else %>
お店の名前：<%= @shop.shop_name %> <br>
お店の場所：<%= @shop.shop_address %> <br>
お気に入り度：<%= @memo.favorite %> <br>
行った回数：<%= @memo.count %> <br>

<div id="view_memo" style="display:inline;">
メモ  <input type="button" onclick="toggle_memo_btn()" value="編集" style= "margin: 20px;"><br>

</div>


<div id="edit_memo" style="display:none;">
<h2>メモ編集</h2>
<input type="button" onclick="toggle_memo_btn()" value="編集終わり" style= "margin: 20px;"><br>
<textarea name="kansou" rows="4" cols="40">メモ</textarea><br>
</div>

<% end %>


  <script type="text/javascript">

function toggle_memo_btn( ){
  const edit_memo = document.getElementById( 'edit_memo' );
  const view_memo = document.getElementById( 'view_memo' );

  edit_memo.style.display = edit_memo.style.display == 'inline' ? 'none' :'inline';
  view_memo.style.display = view_memo.style.display == 'inline' ? 'none' :'inline';
}

</script>
